/* dark theme colors
jet - #292929
charcoal - #2F4550
dark electric blue - #586F7C
powder blue - #B8DBD9
cultured - #F9F8F8 */

header {
  background-color: #2F4550;
  display: grid;
  grid-template-areas: 
  ". . ."
  ". name ."
  ". title ."
  ". button ."
  "nav nav nav";
  text-align: center;
  align-items: center;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
  height: 50rem;
}

.header_name {
  grid-area: name;
  margin-bottom: 0;
}

.header_title {
  grid-area: title;
}

.header_button {
  grid-area: button;
  width: 150px;
  background-color: #2F4550;
  border: solid 1px #B8DBD9;
  margin: auto;
  padding: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: nav;
}

.header_button:hover, .header_button:focus {
  background-color: #B8DBD9;
  color: #292929;
}