:root {
  --jet-background: #292929;
  --charcoal-background: #2F4550;
  --dark-electric-blue: #586F7C;
  --powder-blue: #b8dbd9;
  --cultured-text: #F9F8F8;
}

/* Cultured text is fine on on the first 3, jet as text is fine on all of them, jet and charcoal are fine as text on powder blue */

p, h2, h3 {
  padding: 10px;
  margin: 10px;
}

header {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header_text {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--jet-background);
}

.header_name {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
}

.header_title {
  padding: 10px;
  margin-top: 0px;
  font-weight: 500;
}

.header_button {
  grid-area: button;
  width: 150px;
  border: solid 3px var(--jet-background);
  margin: auto;
  padding: 15px 10px 15px 10px;
  color: var(--jet-background);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  place-items: center;
}

.button_arrow {
  height: 15px;
  padding-left: 10px;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: nav;
  background-color: #2F4550;
  padding: 20px;
  outline: none;
}

.nav_button {
  background-color: #2F4550;
  padding: 5px;
  font-size: 16px;
  border: solid 1px #B8DBD9;
  margin: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    top: -3px;
    transform: rotate(90deg);
  }
}

.header_button:hover, .header_button:focus, .nav_button:hover, .nav_button:focus {
  background-color: var(--jet-background);
  color: var(--cultured-text);
}

.header_button:hover .button_arrow, .header_button:focus .button_arrow {
  stroke: var(--cultured-text);
  animation-name: spin;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  transition-delay: 0ms;
  transition: all 200ms ease-in;
}

.nav_button:hover, .nav_button:focus, .nav_button:active, .header_button:focus, .header_button:hover, .header_button:active {
  outline: none;
}

.header-enter {
  opacity: 0.01;
}

.header-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.header-exit {
  opacity: 1;
}

.header-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.container_skills-icon {
  margin: 20px;
}

.skills-icon {
  width: 60px;
  margin: 20px;
}

.subwork_image {
  max-height: 200px;
  max-width: 100px;
  margin: 10px;
  grid-area: pic;
}

.main-container {
  background-color: #586F7C;
}

.container_about, .container_blog, .container_contact {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 20px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
}

.container_work {
  display: grid;
  place-items: center;
  grid-template-areas: 
  "sectionTitle"
  "gachasphere"
  "bujo"
  "knitworthy"
  "OWS";
  grid-template-columns: 1fr;
  margin: 1%;
  color: var(--jet-background);
  row-gap: 20px;
  background: rgba( 255, 255, 255, 0.35 );
  padding-bottom: 20px;
  border-radius: 10px;
}

#gachasphere {
  grid-area: gachasphere;
}

#BujoToGo {
  grid-area: bujo;
}

#knitworthy {
  grid-area: knitworthy;
}

#OWS {
  grid-area: OWS;
}

.subWork {
  display: grid;
  grid-template-areas: 
    "title"
    "type"
    "pic"
    "icons"
    "text";
  grid-template-rows: .25fr .25fr 1fr .25fr 1fr;
  place-items: center;
  background: rgba(184, 219, 217, 0.45);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  margin: 20px;
}

.subwork_title--primary {
  grid-area: title;
}

.subwork_title--secondary {
  grid-area: type;
}

.subwork_text {
  grid-area: text;
}

.subwork_links {
  grid-area: icons;
}

.subWork_container_image {
  grid-area: pic;
  display: flex;
  justify-content: space-around;
}

.subWork_container_image > img {
  max-height: 200px;
  max-width: 100px;
}

.section_title {
  margin-top: 20px;
  grid-area: sectionTitle;
  color: var(--cultured-text);
}

.work_icon {
  width: 50px;
  margin: 10px;
}

.about_headshot {
  width: 150px;
}

@media screen and (min-width: 350px) {
  .about_headshot {
    width: 300px;
  }
}

@media screen and (min-width: 700px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 400px;
    max-height: 200px;
  }

  .subWork {
    grid-template-areas: 
    "title text"
    "type text"
    "pic text"
    "icons text";
    grid-template-rows: 1fr;
    grid-template-columns: .25fr 1fr;
  }
}

@media screen and (min-width: 900px) {

  nav {
    flex-direction: row;
  }
}