* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root {
  font-family: 'Roboto Mono', monospace;
  background-color: #586F7C;
  color: #F9F8F8;
  height: 100%;
}

body {
  height: 100%;
}

button {
  color: #F9F8F8;
  font-family: 'Roboto Mono', monospace;
}