p, h2, h3 {
  padding: 10px;
  margin: 10px;
}

header {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header_text {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #292929;
}

.header_name {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
}

.header_title {
  padding: 10px;
  margin-top: 0px;
  font-weight: 500;
}

.header_button {
  grid-area: button;
  width: 150px;
  border: solid 3px #292929;
  margin: auto;
  padding: 15px 10px 15px 10px;
  color: #292929;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  place-items: center;
}

.button_arrow {
  height: 15px;
  padding-left: 10px;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: nav;
  background-color: var(--dark-background);
  padding: 20px;
  outline: none;
}

.nav_button {
  background-color: var(--dark-background);
  color: var(--light-text);
  padding: 10px;
  font-size: 16px;
  border: solid 2px transparent;
  margin: 3px;
}

.skills-icon {
  width: 60px;
  margin: 20px;
}

.subwork_image {
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
  grid-area: pic;
}

.main-container {
  background-color: var(--light-background);
  padding-bottom: 100px;
}

.container_about, .container_blog, .container_contact {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 10px 0px 10px 0px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
}

.contact-form {
  background: rgba(184, 219, 217, .7);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
  margin: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message_input {
  margin-top: 5px;
}

.contact_button {
  background: none;
  color: var(--dark-text);
  padding: 10px;
  font-size: 16px;
  border: solid 2px transparent;
  margin: 3px;
}

.container_work {
  display: grid;
  place-items: center;
  grid-template-areas: 
  "sectionTitle"
  "gachasphere"
  "bujo"
  "knitworthy"
  "OWS";
  grid-template-columns: 1fr;
  margin: 10px 0px 10px 0px;
  color: var(--dark-text);
  row-gap: 20px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  padding-bottom: 20px;
  border-radius: 10px;
}

#gachasphere {
  grid-area: gachasphere;
}

#BujoToGo {
  grid-area: bujo;
}

#knitworthy {
  grid-area: knitworthy;
}

#OWS {
  grid-area: OWS;
}

.subWork {
  display: grid;
  grid-template-areas: 
    "title"
    "type"
    "pic"
    "icons"
    "text";
  grid-template-rows: .25fr .25fr .25fr .25fr 1fr;
  place-items: center;
  background: rgba(184, 219, 217, .7);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
}

.subAbout {
  background: rgba(184, 219, 217, .7);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.container_skills-icon {
  background: rgba(255, 255, 255, .55);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
  margin: 0 20% 0 20%;
}

.subwork_title--primary {
  grid-area: title;
}

.subwork_title--secondary {
  grid-area: type;
}

.subwork_text {
  grid-area: text;
}

.subwork_links {
  grid-area: icons;
}

.subWork_container_image {
  grid-area: pic;
  display: flex;
  justify-content: space-around;
}

.subWork_container_image > img {
  max-height: 200px;
  max-width: 200px;
  margin: 5px;
  padding: 5px;
}

.section_title {
  margin-top: 20px;
  grid-area: sectionTitle;
  color: var(--dark-text);
}

.blog-section_title, .preview_button {
  margin-top: 20px;
  background: none;
  color: var(--dark-text);
  padding: 10px;
  font-size: 16px;
  border: solid 2px transparent;
}

.preview_button {
  margin-bottom: 20px;
}

.work_icon {
  width: 50px;
  margin: 10px;
}

#gachaGif {
  border-radius: 10px;
}

.about_headshot {
  width: 150px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    top: -3px;
    transform: rotate(90deg);
  }
}

.header_button:hover, .header_button:focus {
  background-color: #292929;
  color: #F9F8F8;
}

.header_button:hover .button_arrow, .header_button:focus .button_arrow {
  stroke: #F9F8F8;
  animation-name: spin;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  transition-delay: 0ms;
  transition: all 200ms ease-in;
}

.nav_button:hover, .nav_button:focus, .nav_button:active, .header_button:focus, .header_button:hover, .header_button:active {
  outline: none;
  cursor: pointer;
}

.nav_button:hover, .nav_button:focus, .nav_button:active {
  border: solid 2px var(--accent);
}

.contact_button:hover, .contact_button:focus, .contact_button:active, .blog-section_title:hover, .blog-section_title:focus, .blog-section_title:active, .preview_button:hover, .preview_button:focus, .preview_button:active {
  cursor: pointer;
  border: solid 2px var(--dark-text);
}

.header-enter, .navBar-enter, .mainFull-enter, .single-enter {
  opacity: 0.01;
}

.header-enter-active, .navBar-enter-active, .mainFull-enter-active, .single-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.header-exit, .navBar-exit, .mainFull-exit, .single-exit {
  opacity: 1;
}

.header-exit-active, .navBar-exit-active, .mainFull-exit-active, .single-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.scroll-cropper {
  width: 250px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px 0px 60px 0px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
}

.blog-preview {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 510px;
  overflow-y: scroll;
  border: none;
  border-radius: 15px;
  padding-left: 0;
  background: rgba(184, 219, 217, .7);
  scrollbar-width: thin;
}

.blog_image {
  width: 300px;
}

.preview_image {
  max-width: 200px;
  max-height: 150px;
}

.preview {
  list-style-type: none;
  margin: 10px;
}

.preview p {
  width: 200px;
}

.blog p {
  width: 500px;
}

.blog {
  background: rgba(184, 219, 217, .7);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog li {
  list-style-type: none;
  width: 500px;
  margin: 10px;
}

.blog_code-block {
  background-color: #eee;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

p code, li code {
  background-color: #eee;
  border: 1px solid black;
  text-align: center;
  padding: 1px 5px 1px 5px;
  border-radius: 10px;
}

.blog_published-heading {
  font-style: italic;
  font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
  color: var(--dark-text);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--light-background);
  cursor: pointer;
}

@media screen and (min-width: 350px) {
  .about_headshot {
    width: 300px;
  }

  .subWork_container_image > img, .subwork_image {
    max-width: 300px;
  }

  .subWork {
    margin: 10px;
  }

  .container_about, .container_blog, .container_contact, .container_work {
    margin: 20px;
  }

  .message {
    flex-direction: row;
  }
  
  .message_input {
    margin-left: 5px;
  }
}

@media screen and (min-width: 700px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 200px;
    max-height: 200px;
  }

  .subWork {
    grid-template-areas: 
    "title text"
    "type text"
    "pic text"
    "icons text";
    grid-template-rows: 1fr;
    grid-template-columns: .25fr 1fr;
    margin: 20px;
  }

  .scroll-cropper {
    height: 350px;
    width: 90%;
  }

  .blog-preview {
    flex-direction: row;
    height: 350px;
    width: 90%;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 300px;
  }
}

@media screen and (min-width: 900px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 400px;
  }

  nav {
    flex-direction: row;
  }
}